body{
    background-color: #29293d;
}

.container{
    margin: 20px auto;
    width: 400px;
    background-color:#8585ad;
    padding: 20px;
    border-radius: 10px;
}

#bulb{
    width:80%;
    display: block;
    margin:30px auto;
}

.app-heading{
    color: #fff;
    text-align: center;
}

.btn{
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-group{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.btn-on{
    background-color: #ffff33;
}

.btn-off{
    background-color: black;
    color: #fff;
}

.btn-on:hover{
    border-radius: 20px;
    transition: 1s;
    background-color: #fff;
}