body{
    background-color: #29293d;
}

.container{
    margin: 20px auto;
    width: 400px;
    background-color:#8585ad;
    padding: 20px;
    border-radius: 10px;
}

#bulb{
    width:80%;
    display: block;
    margin:30px auto;
}

.app-heading{
    color: #fff;
    text-align: center;
}